/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 2.0
 */

 /*FONTS*/

/*DEFAULT CSS*/

* {
	outline: none !important;
	text-decoration: none !important;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #fff;
	color: #191817;
}
h1, h2, h3, h4, h5{
	margin: 0;
	padding: 0;
}

ol, ul{
	margin: 0;
	padding: 0;
}

.equal-children {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
ul li{
	list-style-type: none;
}
.flex-content{
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}
.push {
	margin-left: auto;
}

.half-left, .half-right{
	width: 50%;
}

.transition {
	transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.absolute {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

.alpha { padding-left: 0; }
.omega { padding-right: 0; }

.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background: transparent;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*MAIN CSS*/
main{
	position: relative;
}
.section{
	position: relative;
	padding: 30px 0;
}
.section-welcome .image{
	margin-top: 200px;
	background-image: url(img/volunteer.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	animation: spin 6s linear infinite;
	-moz-animation: spin 6s linear infinite;
	animation: spin 6s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.title{
	color: #3B4688;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	margin-bottom: 24px;
}
.astronaut{
	background-image: url(img/astronaut.png);
	position: absolute;
	top: 0;
	left: 0;
	height: 196px;
	width: 100%;
	background-position: 20% top;
	background-repeat: no-repeat;
	-webkit-animation: mymove 13s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove 13s infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
@-webkit-keyframes mymove {
	0%   {left:0; top:0;}
	25%  {top:0; top:150px;}
	50%  {top:150px; top:150px;}
	75%  {left:0; top:150px;}
	100% {left:0; top:0;}
}
#tribe-events-content-wrapper{
	width: 80%;
	margin-top: 64px;
	margin-right: auto;
	margin-left: auto;
}
.tribe-events-page-title{
	font-weight: bold;
}
/* Standard syntax */
@keyframes mymove {
	0%   {left:0; top:0;}
	25%  {top:0; top:150px;}
	50%  {top:150px; top:150px;}
	75%  {left:0; top:150px;}
	100% {left:0; top:0;}
}
.playfair-font{
	font-family: 'Playfair Display', serif;
}
.main-content{
	padding: 48px 0 74px 0;
}
.main{
	position: relative;
}
.main-content, .main-content p{
	color: #323232;
	font-size: 18px;
	font-weight: 300;
	line-height: 27px;
}
.simple-page{
	padding: 34px 0 104px 0;
	position: relative;
}
.simple-page ul{
	padding-left: 40px;
}
.simple-page ul li{
	list-style-type: unset;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
}
.simple-page h1, .simple-page h2,
.simple-page h3, .simple-page h4,
.simple-page h5, .simple-page h6{
	color: #1A2980;
	font-family: 'Playfair Display', serif;
}
.simple-page, .simple-page p{
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
}
.simple-page .post-thumbnail{
	text-align: center;
}
.single-page-content, .page-content{
	margin-top: 24px;
}
.p-title{
	color: #1A2980;
	font-size: 34px;
	font-weight: bold;
	line-height: 46px;
	text-align: center;
}

/*Hamburger Icon Style*/
.first-button{
	border: 0;
	background: transparent;
	padding-right: 15px;
	right: 0;
	position: absolute;
	top: 60px;
	z-index: 9;
}
.animated-icon1 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon1 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon1 span {
	background: #fff;
}

.animated-icon1 span:nth-child(1) {
	top: 0px;
}

.animated-icon1 span:nth-child(2) {
	top: 10px;
}

.animated-icon1 span:nth-child(3) {
	top: 20px;
}

.animated-icon1.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.animated-icon1.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

/*End hamburger Icon Style*/

	/*header style*/
.navbar{
	min-height: 91px;
}
.header-top{
	padding: 17px 0 15px;
}
.header-top .right-part{
	margin-top: auto;
}
.header-menu li a{
	color: #908a84;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	padding: 0 12px;
}
.header-menu li a:hover,
.header-menu li a:focus,
.header-menu li a:active{
	color: #464340;
}
.header-menu li a img{
	height: 16px;
	width: 18px;
}
.header-logo{
	height: 91px;
}
ul.header-menu li{
	display: inline-block;
}
ul.header-menu li:nth-last-child(2){
	border-right: 1px solid #7B7774;
}
.navbar{
	margin-bottom: 0;
	border: 0;
}
.navbar-collapse{
	padding-right: 0;
	padding-left: 0;
	background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
}
/*.home .navbar-collapse{*/
	/*background: transparent;*/
/*}*/
.home #stickyMenu .navbar-collapse{
	background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
}
.navbar-nav{
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	width: 100%;
}
.navbar-nav li{
	flex-grow: 1;
	width: 150px;
}
.navbar-nav>li>a{
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	color: #fff;
	padding: 18px 30px;
	z-index: 5;
}
.navbar-nav>li:hover,
.navbar-nav>li:active,
.navbar-nav>li:focus,
.navbar-nav>li.current_page_item {
	background-color: rgba(255,255,255,0.2);
}
.navbar-nav>li:hover .sub-menu,
.navbar-nav>li:active .sub-menu,
.navbar-nav>li:focus .sub-menu{
	display: block;
}
.sub-menu{
	background-color: #FFFFFF;
	box-shadow: 0 3px 8px 0 rgba(30,30,30,0.33);
	text-align: center;
	position: absolute;
	top: 59px;
	left: 0;
	right: 0;
	width: 100%;
	padding: 20px 10px 10px;
	display: none;
	z-index: 2;
}
.sub-menu li a{
	color: #7B7774;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	padding: 8px 0;
	display: block;
}
.sub-menu li a:hover,
.sub-menu li a:focus,
.sub-menu li a:active,
.sub-menu li.current-menu-item a{
	color: #1A2980;
}
.page-title{
	background: linear-gradient(90deg, #3B4688 0%, #6AD9D8 100%);
	box-shadow: 0 -2px 8px 0 rgba(32, 124, 167, 0.5);
}
.page-title h1{
	color: #FFFFFF;
	font-size: 32px;
	line-height: 43px;
	text-align: center;
	padding: 15px 0;
}
.searach-form{
	padding-left: 14px;
}
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 23;
}
/*end header style*/

/*Serach Icon Style*/
#wrap {
	margin: 0;
	display: inline-block;
	position: relative;
	height: 18px;
	float: right;
	padding: 0;
	position: relative;
}

#wrap input[type="text"] {
	font-size: 16px;
	display: inline-block;
	font-family: "Lato";
	font-weight: 100;
	border: none;
	outline: none;
	color: #555;
	padding: 3px;
	padding-right: 60px;
	width: 0px;
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	z-index: 3;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
}

#wrap input[type="text"]:focus:hover {
	border-bottom: 1px solid #BBB;
}

#wrap input[type="text"]:focus {
	width: 100px;
	z-index: 1;
	border-bottom: 1px solid #BBB;
	cursor: text;
	position: relative;
}
#wrap input[type="submit"] {
	height: 18px;
	width: 18px;
	margin: 2px -10px;
	display: inline-block;
	float: right;
	background: url("./img/search.png") center center no-repeat;
	text-indent: -10000px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity .4s ease;
}

#wrap input[type="submit"]:hover {
	opacity: 0.8;
}
/*End Serach Icon Style*/

/*hero section style*/

/*.hero-section{*/
	/*margin-top: -59px;*/
/*}*/
.layer1{
	background-image: url("./img/ars-bg.png");
	max-height: 480px;
	height: 100vh;
	width: 100%;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground1 10s linear infinite;
}
@keyframes animatedBackground1 {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.layer2{
	background-image: url("./img/main-ars.png");
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: cover;
	max-height: 480px;
	height: 100vh;
	width: 100%;
}
.layer3{
	background-image: url("img/moons.png");
	max-height: 420px;
	height: 100vh;
	width: 60%;
	margin: 0 auto;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	animation: animatedBackground 40s linear infinite;
}
.donate-section{
	position: relative;
}
.donate-section .image{
	background-image: url("img/moon.png");
	height: 148px;
	width: 149px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	bottom: -40px;
}
.donate-section.scrolled .image{
	margin-left: 100px;
	margin-top: 100px;
	animation-duration: 2s;
	animation-fill-mode:both;
	animation-name: example;
	transform: scale(0.2);
}
@keyframes example {
	0% {
		transform: scale(0.2);
	}
	70%{
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
.donate-section h1{
	color: #1A2980;
	font-size: 40px;
	font-weight: bold;
	line-height: 38px;
}
.donate-section h2{
	color: #1A2980;
	font-size: 30px;
	line-height: 38px;
	padding-top: 8px;
}
.donate-section .button{
	margin-top: 20px;
}
/*end hero section style*/

/*blog slider style*/

.vertical-slider {
	font-family: 'Fira Sans', sans-serif;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	margin-bottom: 20px;
}
.blog-slider {
	width: 95%;
	position: relative;
	max-width: 670px;
	margin: auto;
	background: #fff;
	box-shadow: 0 8px 16px 0 rgba(43,43,43,0.5);
	padding: 40px 30px;
	border-radius: 25px;
	height: 310px;
	transition: all 0.3s;
}
@media screen and (min-width: 769px) {
	.blog-slider__content{
		margin-left: -70px;
	}
}
@media screen and (max-width: 768px) {
	.blog-slider {
		height: auto;
		margin: 76px auto 20px;
	}
}

.blog-slider__item {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
}
@media screen and (max-width: 768px) {
	.blog-slider__item {
		flex-direction: column;
	}
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
	opacity: 1;
	transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
	opacity: 1;
	transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
	transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
	transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
	transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
	transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
	transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
	transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
	transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
	transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
	transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
	transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
	transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
	transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
	transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
	transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
	transition-delay: 1.7s;
}
.blog-slider__img {
	width: 370px;
	flex-shrink: 0;
	height: 228px;
	background: linear-gradient(90deg, #3B4688 0%, #6AD9D8 100%);
	box-shadow: 0 8px 16px 0 rgba(128,128,128,0.5);
	border-radius: 20px;
	transform: translateX(-110px);
	overflow: hidden;
}
.blog-slider__img:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #3B4688 0%, #6AD9D8 100%);
	border-radius: 20px;
	opacity: 0.1;
}
.blog-slider__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	opacity: 0;
	border-radius: 20px;
	transition: all 0.3s;
}
@media screen and (max-width: 768px) {
	.blog-slider__img {
		transform: translateY(-50%);
		width: 90%;
	}
}
@media screen and (max-width: 576px) {
	.blog-slider__img {
		width: 95%;
	}
}
@media screen and (max-height: 500px) and (min-width: 992px) {
	.blog-slider__img {
		height: 228px;
	}
}
.blog-slider__content {
	padding-right: 25px;
}
@media screen and (max-width: 768px) {
	.blog-slider__content {
		margin-top: -80px;
		text-align: center;
		padding: 0 30px;
	}
}
@media screen and (max-width: 576px) {
	.blog-slider__content {
		padding: 0;
	}
}
.blog-slider__content > * {
	opacity: 0;
	transform: translateY(25px);
	transition: all 0.4s;
}
.blog-slider__code {
	color: #7b7992;
	margin-bottom: 15px;
	display: block;
	font-weight: 500;
}
.blog-slider__title {
	color: #1D5996;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 16px;
}
.blog-slider__text {
	color: #191817;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	margin-bottom: 32px;
	max-height: 75px;
	overflow: hidden;
}
.blog-slider__button {
	display: inline-flex;
	/*background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);*/
	background: linear-gradient(90deg, #3B4688 0%, #6AD9D8 100%);

	padding: 15px 35px;
	border-radius: 50px;
	color: #fff;
	box-shadow: 0 8px 16px 0 rgba(128,128,128,0.5);
	text-decoration: none;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
	.blog-slider__button {
		width: 100%;
	}
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
}
.blog-slider__pagination {
	position: absolute;
	z-index: 21;
	right: 20px;
	width: 11px !important;
	text-align: center;
	left: auto !important;
	top: 50%;
	bottom: auto !important;
	transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
	.blog-slider__pagination {
		transform: translateX(-50%);
		left: 50% !important;
		top: 205px;
		width: 100% !important;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 8px 0;
}
@media screen and (max-width: 768px) {
	.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 5px;
	}
}
.blog-slider__pagination .swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	display: block;
	border-radius: 10px;
	background: #062744;
	opacity: 0.2;
	transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
	opacity: 1;
	background: linear-gradient(180deg, #1A2980 0%, #26D0CE 100%);
	height: 30px;
	box-shadow: 0px 0px 20px rgba(26, 41, 128, 0.3);
}
@media screen and (max-width: 768px) {
	.blog-slider__pagination .swiper-pagination-bullet-active {
		height: 11px;
		width: 30px;
	}
}

/*end blog slider style*/

/*subscribe section style*/

.subscribe-section{
	background-color: #F1F1F1;
}
.subscribe-section h5{
	color: #7B7774;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 10px;
}
.subscribe-form{
	padding: 10px 0;
	text-align: center;
}
.subscribe-form label{
	display: none;
}
.frm_forms input, .frm_forms textarea{
	width: 100%;
	border: 0;
	border-bottom: 1px solid #C2C2C2;
	color: #7B7774;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	padding: 24px 0 8px 0;
}
.subscribe-form input{
	border: 0;
	background: transparent;
	border-bottom: 1px solid #B0ACA9;
	padding: 8px 0;
	display: inline-block;
	width: 224px;
	color: #7B7774;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	margin-right: 30px;
	margin-left: 30px;
}
.subscribe-form .frm_form_fields{
	position: relative;
	display: inline-block;
}
.subscribe-form input::placeholder{
	color: #7B7774;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
}
.subscribe-form .frm_submit{
	top: 0;
	right: 0;
	position: absolute;
}
.frm_forms .frm_submit button{
	width: 100%;
	border: 0;
	margin-top: 32px;
}
.subscribe-form .frm_submit button{
	border: 0;
	 margin-top: 0;
}
.subscribe-form .frm_form_field{
	display: inline-block;
}
/*end subscribe section style*/

/*new section style*/
.news-section{
	margin-top: 20px;
	text-align: center;
}
.school-news {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
	grid-auto-rows: minmax(100px, auto);
	margin-bottom: 30px;
}
.post-box{
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(129,129,129,0.5);
	overflow: hidden;
	position: relative;
}
.col-1 {
	grid-column: 1 / 3;
	grid-row: 1/3;
	height: 513px;
}
.col-1 .post-img{
	width: 100%;
	height: 341px;
}
.col-2 {
	grid-column: 3;
	grid-row: 1/2;
	height: 244px;
}
.col-3 {
	grid-column: 3;
	grid-row: 2;
	height: 244px;
}
.col-2 .post-img,
.col-3 .post-img{
	height: 160px;
	width: 100%;
}
.col-2 .post-text,
.col-3 .post-text{
	display: none;
}
.tile {
	display:inline-block;
	background-size:cover;
	position:relative;
	cursor:pointer;
	transition: all 0.4s ease-out;
	overflow:hidden;
}
.tile:hover {
	transform:scale(1.05);
}
.post-img{
	border-bottom: 6px solid #1D5996;;
}
.post-content{
	padding: 16px 24px;
	text-align: center;
}
.post-text{
	color: #191817;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	max-height: 77px;
	overflow: hidden;
}
.post-title{
	color: #1D5996;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 8px;
	max-height: 25px;
	overflow: hidden;
}
.read-more{
	display: block;
	color: #23A6BB;
	font-size: 14px;
	line-height: 18px;
	text-decoration: underline !important;
}
/*end news section style*/

/*mission section style*/

.mission-section{
	background: url("./img/mission.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: auto;
	width: 100%;

}
.mission-content{
	padding: 302px 0;
}
.mission-content p{
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
}
.mission-content h4{
	color: #FFFFFF;
	font-size: 18px;
	line-height: 24px;
	position: relative;
	padding-top: 25px;
}
.mission-content h4:before{
	left: 0;
	width: 87px;
	display: block;
	content: "";
	top: 10px;
	height: 2px;
	position: absolute;
	background-color: #D4D3D1;
	border: 1px solid rgba(255,255,255,0.3);
}

/*end mission section style*/

/*contact us page style*/
.contact-us-page .p-title{
	display: none;
}
.flex-box{
	flex-basis: 100%;
	margin-top: 24px;
}
.flex-box p:first-child{
	font-weight: bold;
}
.flex-box p{
	margin: 0;
	padding: 0;
}
.flex-box p a{
	color: #323232;
}
.flex-box p a.email{
	color: #207CA7;
}

.contact-form h2{
	color: #1A2980;
	font-size: 28px;
	font-weight: bold;
	line-height: 37px;
	text-align: center;
}
.contact-form{
	margin-top: 88px;
	background-image: url("../digi-theme/img/contacts.png");
	background-repeat: no-repeat;
}
.frm_forms label{
	display: none;
}
.frm_error_style, .frm_error{
	color: #d03535;
}
#map{
	height: 400px;
	width: 100%;
}
.form-container{
	max-width: 260px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.form-title{
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
}
.file-container{
	width: 30%;
	margin: 0 auto;
}
.subtitle{
	color: #191817;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	margin-top: 24px;
}
.file-container.flex-content{
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: center;
}
p.frm-info{
	color: #191817;
	font-size: 14px;
	line-height: 18px;
	margin-top: 16px;
	margin-bottom: 8px;
}
p.frm-person{
	color: #464340;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 8px;
}
p.phone-email{
	margin-bottom: 8px;
}
p.phone-email a{
	color: #191817;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
}
p.phone-email a:hover, p.phone-email a:focus, p.phone-email a:active{
	color: #1A2980;
}
p.phone-email a i{
	color: #207CA7;
	padding-right: 10px;
}
@keyframes animatedBackground {
	25% {background-position: 0 30px;}
	50% {background-position: top;}
	75% {background-position: 0 60px;}
}
@-moz-keyframes animatedBackground {
	25% {background-position: 0 30px;}
	50% {background-position: top;}
	75% {background-position: 0 60px;}
}
@-webkit-keyframes animatedBackground {
	25% {background-position: 0 30px;}
	50% {background-position: top;}
	75% {background-position: 0 60px;}
}
@-ms-keyframes animatedBackground {
	25% {background-position: 0 30px;}
	50% {background-position: top;}
	75% {background-position: 0 60px;}
}
@-o-keyframes animatedBackground {
	25% {background-position: 0 30px;}
	50% {background-position: top;}
	75% {background-position: 0 60px;}
}

.hero-bkg-animated {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	animation: animatedBackground 10s linear infinite;
	-moz-animation: animatedBackground 10s linear infinite;
	-webkit-animation: animatedBackground 10s linear infinite;
	-ms-animation: animatedBackground 10s linear infinite;
	-o-animation: animatedBackground 10s linear infinite;
}
/*end contact us page style*/

/*content builder style*/
.content-sections{
	padding: 13px 0;
}
h2.editor-title{
	color: #1A2980;
	text-align: center;
	margin-bottom: 14px;
	font-size: 28px;
	font-weight: bold;
	line-height: 37px;
}
.left-editor, .right-editor{
	padding-top: 10px;
	padding-bottom: 10px;
}
.left-editor img, .right-editor img,
.post-thumbnail img{
	min-height: 300px;
	height: 100%;
	width: 100%;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
	padding: 0 0 8px 8px;
}
.text-editor img, .profile-picture{
	max-height: 378px;
	width: 100%;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
	padding: 0 0 8px 8px;
}
.two-columns-section .container .two-col-section:nth-child(even){
	margin-top: 30px;
}
.flex-center-content{
	justify-content: center;
	align-items: center;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}
/*end content builder style*/

/* Board of Directors Page style*/
.profile-picture{
	width: 100%;
	height: 270px;
}
.directors-board{
	margin-top: 15px;
}
.person-name, .big-profile-picture .person-name{
	color: #1D5996;
	font-size: 20px;
	line-height: 27px;
}
p.position, .big-profile-picture .position{
	color: #464340;
	font-size: 14px;
	line-height: 18px;
}
.img-with-line-grad{
	padding: 0 0 8px 8px;
	border-radius: 20px;
	background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
}
.team-member-section h2,
.team-member-with-big-img-section h2{
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}
.big-profile-picture{
	margin-top: 24px;
}
.big-profile-picture .profile-picture{
	width: 100%;
	height: 370px;
}
/* End Board of Directors Page style*/

/*School News Page Style*/
.news-item{
	margin-top: 34px;
	position: relative;
}
.news-item a{
	z-index: 4;
}
.news-img{
	width: 100%;
	height: 269px;
	border-radius: 20px;
}
.news-item .date{
	color: #323232;
	font-size: 16px;
	font-style: italic;
	font-weight: 300;
	line-height: 20px;
	margin-top: 15px;
	display: block;
}
.news-title{
	color: #207CA7;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
}
.news-content{
	color: #4E4E4E;
	font-size: 16px;
	line-height: 20px;
	max-height: 85px;
	overflow: hidden;
	margin-top: 13px;
}
.page-count{
	text-align: center;
}
.page-numbers{
	min-width: 40px;
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	color: #207CA7;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	padding: 11px;
	margin: 0 6px;
}
.pagination{
	text-align: center;
	width: 100%;
	margin-top: 32px;
}
.pagination .page-numbers:hover, .pagination .current {
	background-color: #207CA7;
	color: #fff;
	text-decoration: none;
}

/*End School Page News Style*/

/*Grade Activities Style*/
.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
}
.loader {
	color: #ffffff;
	font-size: 11px;
	text-indent: -99999em;
	position: relative;
	width: 8em;
	height: 8em;
	box-shadow: inset 0 0 0 1em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	display: inline-block;
	position: absolute;
	top: 0.8em;
	left: -4.2em;
}
.loader:before,
.loader:after {
	position: absolute;
	content: '';
}
.loader:before {
	width: 4.2em;
	height: 8.2em;
	background: #1A2980;
	border-radius: 8.2em 0 0 8.2em;
	top: -0.1em;
	left: -0.1em;
	-webkit-transform-origin: 4.2em 4.1em;
	transform-origin: 4.2em 4.1em;
	-webkit-animation: load2 2s infinite ease 1.5s;
	animation: load2 2s infinite ease 1.5s;
}
.loader:after {
	width: 4.2em;
	height: 8.2em;
	background: #fff;
	border-radius: 0 8.2em 8.2em 0;
	top: -0.1em;
	left: 4.1em;
	-webkit-transform-origin: 0px 4.1em;
	transform-origin: 0px 4.1em;
	-webkit-animation: load2 2s infinite ease;
	animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.grade-activity{
	position: relative;
	display :inline-block;
	width: 100%;
	margin: 3px 0;
}
.activities{
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
.grade{
	color: #FFFFFF;
	font-size: 32px;
	line-height: 56px;
	text-align: center;
	background-color: #1A2980;
	width: 70px;
	height: 70px;
	display: inline-block;
	border-radius: 100%;
	position: absolute;
	left: -35px;
	top: 16.5px;
	z-index: 2;
	border: 5px solid #fff;
}
.activity{
	box-shadow: 0 2px 4px 0 rgba(187,187,187,0.5);
	width: calc(100% - 70px);
	height: 103px;
	padding: 0 54px;
	color: #464340;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	border-right: 20px solid #1A2980;
}
.activities.flex-content{
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.grade-activities-section{
	margin-top: 40px;
}
.grade-activities-section h3{
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 20px;
}
.activities li:nth-child(3n+0) .grade,
.activities li:nth-child(3n+0) .loader:before{
	background-color: #26D0CE;
}
.activities li:nth-child(3n+0) .activity{
	border-right: 20px solid #26D0CE;
}
.activities li:nth-child(5n+0) .grade, .activities li:nth-child(5n+0) .loader:before,
.activities li:nth-child(2) .grade, .activities li:nth-child(2) .loader:before{
	background-color: #207CA7;
}
.activities li:nth-child(5n+0) .activity, .activities li:nth-child(2) .activity{
	border-right: 20px solid #207CA7;
}
.file-box{
	position: relative;
	border: 1px solid #D4D3D1;
	border-radius: 8px;
	width: calc(50% - 30px);
	margin-right: 15px;
	margin-left: 15px;
	padding: 58px 16px 16px;
	margin-top: 16px;
	max-width: 140px;
}
.file-box:hover, .file-box:active, .file-box:focus{
	border: 1px solid #191817;
}
.file-icon{
	height: 48px;
	width: 37px;
	display: block;
	margin: 0 auto;
}
h4.file-title{
	color: #1D5996;
	font-size: 16px;
	line-height: 14px;
	text-align: center;
	margin-top: 30px;
}
/*End Grade Activities Style*/

/*Echo Newsletter Page Style*/
.all-newsletters{
	justify-content: space-between;
	width: 50%;
}
.newsletter-box{
	height: 180px;
	width: 170px;
	border: 1px solid #D4D3D1;
	border-radius: 8px;
	padding: 58px 16px 16px;
	position: relative;
	margin-top: 16px;
}
.newsletter-box:hover, .newsletter-box:active, .newsletter-box:focus {
	border: 1px solid #191817;
}
.newsletter-section-title{
	color: #207CA7;
	font-size: 20px;
	font-weight: bold;
	line-height: 27px;
	margin-top: 24px;
}
.newsletter-title{
	color: #1D5996;
	font-size: 14px;
	line-height: 14px;
	margin-top: 26px;
}
.newsletter-subtitle{
	color: #828282;
	font-size: 12px;
	line-height: 14px;
}
.newsletter-sample{
	width: 50%;
	margin-top: 16px;
}
.newsletter-sample-img{
	background-image: url("../digi-theme/img/ardzaganq.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 738px;
	background-size: contain, cover;
}
/*End Echo Newsletter Page Style*/

/*Our Supporters Page Style*/
h4.supporter-section-title{
	color: #207CA7;
	font-size: 20px;
	font-style: italic;
	font-weight: 600;
	line-height: 25px;
	margin-top: 10px;
}
.supporter-list .supporter:nth-child(even) {
	margin-left: 30px;
}
.supporter{
	width: calc(50% - 15px);
	margin-top: 22px;
}
.supporter-img{
	width: 100%;
	height: 214px;
}
.supporter-section .flex-content{
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.text-404{
	font-size: 70px;
	padding: 60px 0;
	color: #1A2980;
}
/*End Our Supporters Page Style*/

/*footer style*/
footer{
	position: relative;
}
footer:before{
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	width: 100%;
	max-width: 400px;
	display: block;
	content: "";
	top: -23px;
	height: 1px;
	position: absolute;
	background-color: #D4D3D1;
}
.home footer:before{
	content: unset;
}
.footer-top{
	padding: 22px 0 50px;
}
.footer-menu li a,
.footer-top p,
.footer-menu{
	color: #B0ACA9;
	font-size: 14px;
	line-height: 18px;
}
.footer-menu li a{
	padding: 2px 0;
	display: inline-block;
}
.footer-menu li a:hover,
.footer-menu li a:focus,
.footer-menu li a:active,
.footer-menu li.current-menu-item a{
	color: #464340;
}
.f-menu-title{
	color: #7B7774;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	padding-bottom: 14px;
}
.socila-icons{
	padding-top: 64px;
}
.socila-icons li{
	display: inline-block;
	padding-right: 15px;
}
.footer-bottom{
	background-color: #B0ACA9;
	color: #fff;
	padding: 12px 0;
}
.footer-bottom a,
.footer-bottom .dd-team{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 18px;
}
.copyright{
	font-size: 10px;
	line-height: 13px;
	padding-top: 3px;
}
.button{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	border-radius: 20px;
	background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
	box-shadow: 0 1px 1px 0 rgba(204,204,204,0.5), 0 2px 4px 0 rgba(202,202,202,0.5);
	display: inline-block;
	padding: 9px 20px;
	transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}
.button:hover{
	color: #FFFFFF;
	background: linear-gradient(90deg, #26D0CE 0%, #1A2980 100%);
	box-shadow: 0px 0px 20px rgba(26, 41, 128, 0.3);
}
.button:focus, .button:active{
	color: #fff;
}
/*end footer style*/

/* Large desktops and laptops */
@media (min-width: 1400px) {
	.layer1, .layer2{
		max-height: 570px;
	}
	.section.mission-section{
		padding: 102px 0;
	}
}
@media (min-width: 1230px) {
	.container { width: 1200px; }
}

@media (min-width: 1200px) {

}

@media (max-width: 1199px) {
	.home .navbar-collapse{
		background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
	}
	.navbar-nav li{
		width: unset;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 992px) {

}

@media (max-width: 991px) {
	.hero-bkg-animated{
		display: none;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.header-top{
		height: 71px;
		padding: 0;
	}
	.header-top .right-part {
		margin-top: 20px;
	}
	.navbar-nav>li>a{
		padding: 10px 15px;
	}
	.navbar-collapse {
		top: 116px;
	}
	.first-button{
		top: 80px;
	}
	.header-logo, .header-logo svg {
		margin-top: 5px;
	}
	#mNavbar > .container{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		background: linear-gradient(90deg, #3B4688 0%, #6AD9D8 100%);
	}
}
/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
	.page-title{
		position: absolute;
		width: 100%;
		top: -46px;
	}
	.header-menu li a img {
		width: 20px;
	}
	.school-news{
		display: flex;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
	.col-1{
		width: 100%;
		height: auto;
	}
	.col-2, .col-3{
		width: calc(50% - 5px);
		margin-top: 15px;
	}
	.col-3{
		margin-left: 10px;
	}
	.col-1 .post-img {
		height: 200px;
	}
	.mission-content {
		padding: 155px 0;
	}
	.blog-slider__pagination.swiper-pagination-clickable.swiper-pagination-bullets{
		margin-top: -30px;
	}
	.section {
		padding: 20px 0;
	}
	.astronaut{
		display: none;
	}
	.navbar-collapse.in {
		 overflow-y: initial;
		padding-bottom: 40px;
	}
	.navbar-nav>li>a {
		padding: 15px;
	}
	.sub-menu li a:hover, .sub-menu li a:focus, .sub-menu li a:active, .sub-menu li.current-menu-item a{
		color: #008ec2
	}
	.sub-menu{
		padding: 15px;
		background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
		top: 53px;
	}
	.navbar-collapse .container{
		padding-right: 0;
		padding-left: 0;
	}
	.navbar {
		min-height: 50px;
	}
	.hero-section {
		margin-top: 0;
	}
	.footer-top{
		text-align: center;
	}
	.top-menu{
		display: none;
	}
	.header-logo, .header-logo svg{
		height: 50px;
		width: auto;
	}
	.header-top{
		padding: 0;
	}
	.header-top .right-part{
		margin-top: 14px;
	}
	.header-menu li a{
		padding: 0 5px;
	}
	#wrap input[type="text"]{
		padding-right: 18px;
	}
	#wrap input[type="submit"]{
		margin: 5px 0;
	}
	.searach-form{
		margin-left: 15px;
	}
	.navbar-collapse{
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 5;
	}
	.navbar-header{
		background: linear-gradient(90deg, #3B4688 0%, #6AD9D8 100%);
		height: 46px;
	}
	.navbar-nav{
		margin: 0;
		display: unset;
	}
	.navbar-nav li, .navbar-nav li a{
		width: 100%;
		text-align: left;
		color: #fff;
	}
	.donate-section .image, .astronaut,
	.section-welcome .image{
		background: unset;
		display: none;
	}
	.flex-center-content{
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
	.footer-top {
		padding: 0 0 30px;
	}
	.socila-icons {
		padding-top: 20px;
	}
	.left-editor img, .right-editor img, .post-thumbnail img{
		min-height: 180px;
	}
	.page-title h1 {
		font-size: 30px;
		line-height: 34px;
		padding: 8px 0;
	}
	.p-title {
		font-size: 30px;
		line-height: 28px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.simple-page {
		padding: 34px 0 70px 0;
	}
	.two-columns-section .container .two-col-section:nth-child(even) {
		margin-top: 20px;
	}
	.supporter{
		width: 100%;
	}
	.supporter-list .supporter:nth-child(even) {
		margin-left: 0;
	}
	.supporter-img {
		height: 240px;
	}
	.news-img {
		height: 210px;
	}
	.newsletter-section.flex-content,
	.all-newsletters.flex-content{
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
	.newsletter-sample-img{
		height: 430px;
	}
	.all-newsletters, .newsletter-sample{
		width: 50%;
	}
	.text-editor img {
		max-height: 260px;
		height: 50vw;
	}
	.activities{
		 columns: unset;
		 -webkit-columns: unset;
		-moz-columns: unset;
	}
	.activity {
		width: calc(100% - 20px);
	}
	.file-container{
		width: 100%;
	}
	.person-name{
		margin-top: 18px;
	}
	.contact-page .flex-content{
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
	.contact-page .flex-box{
		width: 50%;
	}
	.contact-form {
		margin-top: 40px;
		background-image: unset;
	}
	#map {
		margin-bottom: 23px;
		height: 300px;
		margin-bottom: 70px;
	}
	#tribe-events-content-wrapper {
		width: 100%;
		margin-top: 0;
	}
}

@media (max-width: 767px) {
	.all-newsletters, .newsletter-sample {
		width: 100%;
	}
	.supporter-img {
		height: 110px;
	}
	.navbar-collapse {
		top: 95px;
	}
}

/* Landscape phones and smaller */
@media (max-width: 544px) {

}

@media (min-width: 480px) and (max-width: 768px) {

}

@media (max-width: 480px) {

}
@media (max-width: 320px) {
	#wrap input[type="text"]:focus {
		width: 70px;
	}
	.subscribe-form input{
		max-width: 180px;
	}
	.page-title h1 {
		font-size: 27px;
	}
}






